#nimbus h1 {
  margin-bottom: 60px;
}
.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.bicicletas-fotos > div:nth-child(1) {
  margin-bottom: 20px;
}
.bicicletas-fotos > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.bicicletas-descricao > p {
  margin-bottom: 32px;
}
.bicicletas-comprar {
  display: flex;
  gap: 12px;
  align-items: center;
}
.bicicletas-comprar > div {
  display: grid;
  grid-template-rows: auto auto;
  gap: 12px;
}
.bicicletas-comprar > div > span {
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--cor-12);
  padding: 4px 8px;
  width: max-content;
}
.bicicletas-comprar > div > span img {
  display: inline-block;
}

.bicicletas-descricao h2 {
  margin-top: 40px;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  font-weight: 500;
}
.bicicletas-informacoes ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 40px;
  padding: 32px;
  background: var(--cor-12);
  border-radius: 5px;
}
.bicicletas-descricao h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
}

.bicicletas-ficha {
  padding: 32px;
  background: var(--cor-12);
  border-radius: 5px;
}
.bicicletas-ficha ul li {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bicicletas-ficha ul li + li {
  margin-top: 12px;
}
.bicicletas-ficha ul li + li::before {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--cor-11);
  position: absolute;
  top: -7px;
}
