.contato-lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.contato-lojas h2 {
  margin-bottom: 60px;
  grid-column: 1 / -1;
}
.contato-lojas h3 {
  margin-left: 24px;
  margin-bottom: 32px;
  position: relative;
}
.contato-lojas h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  position: absolute;
  top: 16px;
  left: -24px;
}
.contato-lojas > div > img {
  border-radius: 5px 5px 0px 0px;
}
.contato-lojas ul {
  margin-left: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contato-lojas ul li {
  padding-left: 12px;
  border-left: 1px solid var(--cor-2);
  line-height: 2;
  margin-bottom: 32px;
}
.loja-box > div {
  padding: 32px;
}
.loja-box {
  background: var(--cor-0);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 120px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.loja-box span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
}
.loja-box span img {
  display: inline-block;
}
