.parceiros {
  margin-top: 60px;
  margin-bottom: 120px;
}
.parceiros h2 {
  margin-bottom: 60px;
}
.parceiros ul {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.parceiros li {
  padding: 32px;
  display: block;
  border-left: 2px solid var(--cor-2);
  border-top: 2px solid var(--cor-2);
}
.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}
.parceiros li:nth-child(-n + 4) {
  border-top: none;
}
.parceiros img {
  margin: auto;
}
.parceiros h2 span {
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 800px) {
  .parceiros {
    margin-bottom: 60px;
  }
  .parceiros h2 {
    margin-bottom: 20px;
  }
  .parceiros ul {
    grid-template-columns: 1fr 1fr;
  }
  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
  .parceiros li {
    padding: 20px;
  }
}
